{% extends 'roles.html' %}


{% block child %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team Name</th>
        <th>Value</th>
        <th>Total Points</th>
        <th>Goals scored</th>
        <th>Assists</th>
        <th>Clean Sheets</th>
      </tr>
    </thead>
    <tbody>
      {% for user in players %}
        <tr>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
          <td>{{ user[4] }}</td>
          <td>{{ user[5] }}</td>
          <td>{{ user[6] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}